@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.not-found-text{
  margin-top: -8.2rem;
  /* font-size: 1.8rem; */
}
.inner-container{
  height: calc(100vh - 85px)
}
.logo, .server-mods{
  color:#3D5AFE;
}
.welcome-text{
  color:rgba(0, 0, 0, 0.49);
}
.logo-dark{
  color:rgba(84, 84, 84, 1);
}